/* Center the loader */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------FONT And LAYOUT------------------*/
/*Import from internet - add lokal https://www.1001fonts.com/ticking-timebomb-bb-font.html*/
@font-face {
  font-family: 'MyCustomFont';
  src: url('styleguide/fonts/ticking-timebomb-bb/TickingTimebombBB.ttf') format('truetype'),
       url('styleguide/fonts/ticking-timebomb-bb/TickingTimebombBB_ital.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,body {
  background-color: black;
  display: flex;
  position: relative;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-family:'MyCustomFont';
  font-size: 1.5em;
  margin:0;
}

/*----------------BACKGROUND------------------*/
.redline{
  width: 38%;
  margin-top: -53%;
  left: -2%;
  position: fixed;
  display: flex;
  transition: 0.5s;   
  animation-name: redLinescale;   
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  z-index: -0.5; 
}
@keyframes redLinescale {                                          
  0% {
    opacity: 30%;                                           
  }
  100% {
    opacity: 100%;                                             
  }
}
.blueline{
  width: 35%;
  margin-top: -16%;
  left: 70%;
  position: fixed;
  display: flex;
  animation-name: blueLinescale;   
  animation-delay: 0s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: -0.2;
}
@keyframes blueLinescale {                                          
  0% {
    opacity: 30%;                                           
  }
  100% {
    opacity: 100%;                                             
  }
}

/*----------------HEADLINE AND TEXT------------------*/
h3{
  font-size: 1.0rem;
  font-weight: 400;
  text-wrap: nowrap;
}
h4{
  font-size: 1em;
  letter-spacing: 0.15em;
  text-wrap: nowrap;
  font-weight: lighter;
}

/* TYPEWRITER EFFECT */
.typewriter h3 {
  overflow: hidden;                     /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #F6F6F6; /* The typwriter cursor */
  white-space: nowrap;              
  margin: 0 auto; 
  letter-spacing: .10em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    margin-top: 20%;
    left: 3%;
    position: fixed;
    display: flex;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 20% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #F6F6F6}
}

/*----------------FOR LOADING PAGE------------------*/
#loader {
  width: 8%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loaderAnimation 8s forwards;
}
@keyframes loaderAnimation {
  0% {
    width: 8%;
    opacity: 0.1;
  }
  25% {
    width: 12%;
    opacity: 1;
  }
  50% {
    width: 8%;
    opacity: 0.1;
  }
  75% {
    width: 12%;
    opacity: 1;
  }
  100% {
    width: 8%;
    opacity: 0.1;
  }
}

/*----------------FOR INDEX PAGE------------------*/
.homepage {
  position: relative;
  -webkit-animation-name: homepagfadeIn;
  -webkit-animation-duration: 1s;
  animation-name: homepagfadeIn;
  animation-duration: 5s;
}
@-webkit-keyframes homepagfadeIn {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes homepagfadeIn {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#myDiv {
  display: none;
  text-align: center;
}

/* Header + Navigation*/
header {
  width: 100%;
  height: 15%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5%;
  left: 0;
  padding: 0 20px;
}
.logo {
  width: 6%;
  height: 100%;
  margin-left: 48%;
  z-index: 2;
  transition: 3s ease;
}
.logo:hover{
  transform: scale(1.1);
}

/* Burger-Menü */
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
  margin-right: 3%;
  opacity: 30%;
  transition: 0.5s ease;
}
.burger-menu:hover{
  opacity: 80%;
  transform: scale(1.1);
}
.burger-menu span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  transition: 0.3s ease;
}
/* Navigation (Side Menu) */
.side-menu {
  position: absolute;
  top: 5%;
  margin-right: 10%;
  right: -520px; /* Startet außerhalb des Bildschirms */
  height: 60vh;
  width: 15%;
  background-color: hsla(0, 0%, 100%, 0.163);
  border: 5px solid #23edf476;
  box-shadow: 0 0 10px 5px #23edf48f;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  transition: right 0.3s ease; /* Animiert das Ein- und Ausfahren */
  z-index: -1;
}
.side-menu.active {
  right: 0; /* Schiebt das Menü ins Bild */
}
.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.side-menu ul li {
  margin: 1rem 0;
  text-align: center;
}
.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 0.6rem 1rem;
  display: block;
  transition: background-color 0.3s ease;
  z-index: 1000;
}
.side-menu ul li a:hover {
  color: #23EDF4;
}
.side-menu ul li a:active {
  color: #F6344E;
}
/* Animation für den Burger-Button */
.burger-menu.active span:nth-child(1) {
  transform: translateY(16px) rotate(45deg);
}
.burger-menu.active span:nth-child(2) {
  opacity: 0;
}
.burger-menu.active span:nth-child(3) {
  transform: translateY(-16px) rotate(-45deg);
}
.hidden {
  display: none;
}

/*----------------FOR BUTTONS------------------*/
/*Power Button*/
#power_btn {
  width: 100px; 
  height: auto;
  transition: transform 0.3s ease; 
  position: fixed;
  margin-left: 47.8%;
  margin-top: -6%;
  opacity: 15%;
}
#power_btn:hover {
  transform: scale(1.1); 
  opacity: 80%;
}
#head_animation{
  max-width: 25%;
  height: auto;
  display: none;
  position: fixed;
  margin-top: -14%;
  margin-left: 39%;
}


/*Lastest Work Button and Window*/
#showLatestwork_btn{
  width: 50px; 
  height: auto;
  transition: transform 0.3s ease; 
  position:fixed;
  display: none; 
  margin-top: -10%;
  margin-left: 65%;
  transition: 1.5s ease, box-shadow 0.5s ease;
}
#showLatestwork_btn:hover{
  transform: scale(1.8); 
  content: url('buttons/window_button_blue.svg');
  transform: translateY(-5px) scale(1.05);
}
.modalBlue {
  display: none;
  position: fixed; 
  top: 0;
  left: 0;
  width: 40%;
  height: 160vh;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  margin-top: -20%;
  margin-left: 62%;
}
/*window for latest work*/
.modalBlue-content {
  background-color:  hsla(0, 0%, 100%, 0.163);
  border: 5px solid #23edf476;
  box-shadow: 0 0 10px 5px #23edf48f;
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  height: 25%;
  text-align: center;
}
.closeBlue {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
#LatestWorkImg{
  margin-top: 10%;
  width: 100%;
  filter: grayscale(100%);
}
#LinkToLatestWork{
  width: 20%;
}
#linkToLatestWork:hover{
  content: url('buttons/arrow_link_latest_work_blue.svg');
}

/*Contact Button and Window*/
#showContact_btn{
  width: 50px; 
  height: auto; 
  transition: transform 0.3s ease; 
  position: fixed;
  display: none; 
  margin-top: 8%;
  margin-left: 34%;
  transition: 1.5s ease, box-shadow 0.5s ease;
}
#showContact_btn:hover{
  transform: scale(1.8); 
  content: url('buttons/window_button_red.svg');
  transform: translateY(-5px) scale(1.05);
}
.modalRed {
  display: none; 
  position: fixed; 
  top: 0;
  left: -2%;
  width: 40%;
  height: 160vh;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  margin-top: -8%;
  margin-left: 2%;
}
/*window for contact*/
.modalRed-content {
  background-color:  hsla(0, 0%, 100%, 0.163);
  border: 5px solid #f6344e6b;
  box-shadow: 0 0 10px 5px #f6344e7c;
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  height: 25%;
  text-align: center;
}
.closeRed {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.IconMail{
  margin-top: 8%;
  transition: 1.5s ease, box-shadow 0.5s ease;
  opacity: 30%;
}
.IconMail:hover{
  transform: scale(1.1); 
  opacity: 80%;
}
#email{
  font-size: 0.6em;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.IconInstagram{
  width: 25%;
  margin-top: 8%;
  float: left;
  transition: 1.5s ease, box-shadow 0.5s ease;
  opacity: 30%;
}
.IconInstagram:hover{
  transform: scale(1.1); 
  opacity: 80%;
}
.IconInstagram2{
  width: 25%;
  margin-top: 8%;
  float: center;
}
.IconInstagram3{
  width: 25%;
  margin-top: 8%;
  float: right;
}

/*------------------------------------------FOR ABOUT PAGE ---------------------------------------------------*/
.headerAbout {
  width: 100%;
  height: 15%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5%;
  left: 0;
  padding: 0 20px;
}
section {
  width: 100%;
  height: 100vh; /* Jeder Abschnitt nimmt die volle Höhe des Viewports ein */
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  display: flex;
  flex-direction: column;
  font-family: "Alumni Sans", serif;
  left: 5%;
}

/* Burger-Menü */
.burger-menu2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
  margin-right: 3%;
  opacity: 30%;
  transition: 0.5s ease;
}
.burger-menu2:hover{
  opacity: 80%;
  transform: scale(1.1);
}
.burger-menu2 span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  transition: 0.3s ease;
}
/* Navigation (Side Menu) */
.side-menu2 {
  position: absolute;
  top: 5%;
  margin-right: 10%;
  right: -520px; /* Startet außerhalb des Bildschirms */
  height: 60vh;
  width: 15%;
  background-color: hsla(0, 0%, 100%, 0.163);
  border: 5px solid #23edf476;
  box-shadow: 0 0 10px 5px #23edf48f;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  transition: right 0.3s ease; /* Animiert das Ein- und Ausfahren */
  z-index: -1;
}
.side-menu2.active {
  right: 0; /* Schiebt das Menü ins Bild */
}
.side-menu2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.side-menu2 ul li {
  margin: 1rem 0;
  text-align: center;
}
.side-menu2 ul li a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 0.6rem 1rem;
  display: block;
  transition: background-color 0.3s ease;
  z-index: 1000;
}
.side-menu2 ul li a:hover {
  color: #23EDF4;
}
.side-menu2 ul li a:active {
  color: #F6344E;
}
/* Animation für den Burger-Button */
.burger-menu2.active span:nth-child(1) {
  transform: translateY(16px) rotate(45deg);
}
.burger-menu2.active span:nth-child(2) {
  opacity: 0;
}
.burger-menu2.active span:nth-child(3) {
  transform: translateY(-16px) rotate(-45deg);
}
.hidden2 {
  display: none;
}
.intro{
  background-color: white;
  margin-top: 50%;
  width: 100vw;
  height: 205.5vh;
}

.redline2{
  width: 30%;
  margin-top: 35%;
  left: -1%;
  position: absolute;
  display: flex;
  transition: 0.5s;   
  animation-name: redLinescale;   
  animation-delay: 0s;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  z-index: -0.5; 
}
@keyframes redLinescale {                                          
  0% {
    opacity: 30%;                                           
  }
  100% {
    opacity: 100%;                                             
  }
}
.blueline2{
  width: 35%;
  margin-top: 35%;
  left: 70%;
  position: fixed;
  display: flex;
  animation-name: blueLinescale;   
  animation-delay: 0s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: -0.2;
}
@keyframes blueLinescale {                                          
  0% {
    opacity: 30%;                                           
  }
  100% {
    opacity: 100%;                                             
  }
}
.hidden2 {
  display: none;
}
.monika{
  font-family:'MyCustomFont';
  font-size: 4em;
  text-orientation: upright;
  writing-mode: vertical-rl;
  margin-top: 54%;
  margin-left: 45.5%;
  position: absolute;
  color: black;
}

.portrait{
  position: absolute;
  width: 70%;
  margin-top: 53.85%;
  margin-left: 14%;
}

/*----------------BACKGROUND------------------*/
.container{
  margin-top: 70%;
}
.text{
  margin-top: -30%;
}
h5{
  font-family: "Alumni Sans", serif;
  font-size: 1.2em;
  font-weight: lighter;
  text-wrap: nowrap;
  color: #F6344E;
  font-weight: lighter;
  position: absolute;
  display: flex;
}
p{
  font-family: "Alumni Sans", serif;
  color: white;
  font-weight: normal;
  font-size: 1.7em;
  position: absolute;
  display: flex;
  line-height: 1.2em;
}
h1{
  font-family:'MyCustomFont';
  font-size: 5em;
  color: #23EDF4;
  position: absolute;
  display: flex;
}

.AboutMe {
  margin-top: 40%;
  margin-left: 10%;
}
.paragraph1{
  margin-top: 43%;
  margin-left: 10%;
}
#name{
  font-size: 7em;
  margin-top: 60%;
  margin-left: 30%;
}
.student{
  position: absolute;
  display: flex;
  margin-top: 75%;
  margin-left: 60%;
  text-align: right;
  font-family:'MyCustomFont';
  font-size: 1.5em;
  line-height: 1.5em;
}

.DesignStyle{
  margin-top: 38%;
  margin-left: 10%;
}
.paragraph2{
  margin-top: 41%;
  margin-left: 10%;
}

.paragraph3{
  font-family:'MyCustomFont';
  text-align: right;
  position: absolute;
  display: flex;
  margin-top: 60%;
  margin-left: 33%;
  line-height: 1.5em;
}

.blue{
  color: #23EDF4;
}
.Inspiration{
  margin-top: 30%;
  margin-left: 10%;
}
.paragraph4{
  margin-top: 33%;
  margin-left: 10%;
}

.paragraph5{
  color: #23EDF4;
  font-family:'MyCustomFont';
  margin-top: 10%;
  margin-left: 10%;
}


